body
{
  color: rgb(255, 255, 255);
  background: #ffcef1;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(0, 81, 95);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(49, 0, 0);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

p{
  width: 350px;
  height: 200px;
}